# Continuous integration and publishing requires these packages. We could include fruit_webdav as a setup_requires
# inside setup.py, but then anyone trying to install this package would be forced to download fruit_webdav even though
# they'd never use it.
# That being said, normal requirements should only be specified in setup.py.
daf_fruit_dist>=1.2.96
teamcity-nose>=1.2