daf_fruit_dist>=1.2.91
teamcity-nose>=1.2

# These would ideally *only* be listed in setup.py. For whatever reason, the
# package install which distribute uses for install_requires ignores or does
# not support wheels.
lxml
pywin32>=117